# Example environment variables
# Copy to .env and adjust

SERVER_PORT=8080
OTEL_SERVICE_NAME=catalogo
OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy.observability.svc.cluster.local:4318
DEPLOY_ENV=development
LOG_LEVEL=INFO
APP_LOG_LEVEL=INFO
